@font-face {
    font-family: "OpenSans-Light";
    src: url("../font/OpenSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../font/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../font/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("../font/OpenSans-Bold.ttf") format("truetype");
}
    /* font-family: 'OpenSans-Light', sans-serif;
    font-family: 'OpenSans-Regular', sans-serif;
    font-family: 'OpenSans-Semibold', sans-serif;
    font-family: 'OpenSans-Bold', sans-serif; */
body {
    font-family: 'OpenSans', sans-serif;
}
ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

.menu-bar {
    padding: 20px 0;
    color: #212121;
}
.menu__item {
    margin-left: 37px;
}
.menu__item a {
    font-family: 'OpenSans-Semibold';
    font-size: 20px;
    text-decoration: none;
    color: #212121;
}
.menu__item a:hover {
    color: #7d7d7d;
}
.header {
    color: #fff;
    text-align: center;
    padding: 180px 0;
    background-size: cover;
    background-position: 0 100%;
    background-image: url(../img/header.png);
}
.header__title {
    font-size: 55px;
}
.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}
.button {
    padding: 10px 25px;
    margin: 0 10px;
    text-transform: uppercase;
    color: #fff;
    background: #00897b;
    border: 2px solid #00897b;
    cursor: pointer;
    transition: 0.3s;
}
.button:hover {
    background: transparent;
    border: 2px solid #fff;
}
.about {
    padding: 120px 0 125px;
    color: #212121;
    text-align: center;
}
.fa-solid {
    font-size: 75px;
    color: #000;
}
.about__title {
    font-size: 30px;
    font-weight: bold;
}
.about__text-title {
    margin-bottom: 110px;
}
.about__text {
    font-size: 15px;
    font-weight: normal;
    color: #3f3f3f;
    transition: 0.5s;
}
.about_h3 {
    margin: 30px 0 20px;
    font-family: 'OpenSans-Semibold';
    font-size: 20px;
}
.services {
    padding: 165px 0 125px;
    background: #e4fdf9;
    color: #212121;
    text-align: center;
}
.our_card {
    margin-bottom: 30px;
    padding: 50px 40px 40px;
    background: #fff;
    transition: 0.5s;
}
.our_card:hover {
    background: #00897b;
    color: #fff;
    box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}
.our_card:hover .about__text {
    color: #fff;
}
.our_card:hover .icon {
    color: #fff;
}
.our_card:hover .button-services {
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
}
.icon {
    font-size: 60px;
    color: #000;
    transition: 0.5s;
}
.button-services {
    margin: 35px 0 40px;
    padding: 10px 12px;
    font-family: 'OpenSans-Semibold';
    text-transform: uppercase;
    border: 2px solid #000;
    color: #000;
    background: transparent;
    transition: 0.5s;
}
.portfolio {
    padding: 120px 0 135px;
    text-align: center;
}
.portfolio button:hover,
.focused {
    color: #000;
    border: 2px solid #00897b;
    background: transparent;
}
.portfolio img {
    margin-bottom: 30px;
}
.filter {
    padding: 120px 0;
}
div[filter] {
    position: relative;
}
div[filter]:hover img {
    filter: brightness(50%);
    transition: 0.3s;
}
.text {
    display: none;
}
div[filter]:hover .text {
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}
.justify-content-center {
}
.col-xl-8 {
}
.about__title {
}
.about__text {
}
.about__text-title {
}

