@font-face {
    font-family: "OpenSans-Light";
    src: url("../font/OpenSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url("../font/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../font/OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("../font/OpenSans-Bold.ttf") format("truetype");
}
    /* font-family: 'OpenSans-Light', sans-serif;
    font-family: 'OpenSans-Regular', sans-serif;
    font-family: 'OpenSans-Semibold', sans-serif;
    font-family: 'OpenSans-Bold', sans-serif; */

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

.menu-bar {
    padding: 20px 0;
    color: #212121;
}
.menu__item {
    margin-left: 37px;
}
.menu__item a {
    font-family: 'OpenSans-Semibold';
    font-size: 20px;
    text-decoration: none;
    color: #212121;
}
.menu__item a:hover {
    color: #7d7d7d;
}